---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import ThreeBackground from '../components/ThreeBackground.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="Osmar Alejandro Liera Gomez | Developer">
	<ThreeBackground />
	<main>
		<Hero />
		<About />
		<Skills />
		<Contact />
	</main>
	<Footer />
	<BackToTop />
	<WhatsAppButton />
</Layout>
